:root {
  --color: #f3b900;
  --background: rgba(0, 255, 0, 0.1);
  --accent: #fffdd0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#content {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100vh;
  overflow: hidden;
}

/* width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--color);
}

/* width of the scrollbar */
::-moz-scrollbar {
  width: 10px;
}

/* background color of the scrollbar */
::-moz-scrollbar-thumb {
  background-color: var(--background);
}

.name,
.heading,
.home {
  margin: 10px;
  background-color: var(--background);
  color: var(--color);
}

.navbar {
  margin: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
  height: 30px;
}

.tabs > li {
  font-size: 1.5rem;
  color: var(--color);
  font-weight: 900;
  cursor: pointer;
}

.tabs > li:hover,
.current {
  color: var(--accent) !important;
  border-bottom: 1px solid var(--color);
  transform: scale(1.05);
}

.description {
  font-size: 1.2rem;
}

.menu {
  color: var(--color);
  height: 80vh;
  overflow: auto;
}

.cat-title {
  margin: 20px;
  background-color: var(--background);
}

.dishes {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  height: 150px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 10px;
}
